{% extends 'layout.html' %}

{% block body %}

    <div class="container vh-100 d-flex align-items-center justify-content-center">

    <div class="col-md-6 col-lg-4">

        <div class="card shadow-lg rounded-5 border-0 p-4">

            <h1 class="text-center mb-4">Shift Info</h1>

            {% if message %}
                <div class="alert alert-info text-center">
                    {{ message }}
                </div>
            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">
                    <select name="employee_id" class="form-select" required>
                        {% for employee in employees %}
                            <option value="{{ employee.id }}">{{ employee.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <input class="form-control" type="datetime-local" name="start_time" placeholder="Enter start time" required>
                </div>

                <div class="mb-3">
                    <input class="form-control" type="datetime-local" name="end_time" placeholder="Enter end time" required>
                </div>

                <button class="btn btn-primary w-100" type="submit">
                    Add
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}