{% extends "network/layout.html" %}

{% block body %}

    <h1>Following</h1>

<div class="posts">

    {% for post in page %}

        <div class="post">

            <strong><a class="username" href="{% url 'profile' username=post.creator.username %}">{{ post.creator.username }}</a></strong>
            
            <p>{{ post.content }}</p>

            <span class="empty-heart">&#9825;</span>
        
            <p>{{ post.timestamp|date:"M d, Y H:i" }}</p>
        
        </div>

    {% empty %}
        
        <p>No posts yet.</p>
    
    {% endfor %}

</div>

<ul class="pagination">

    {% if page.has_previous %}

    <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a></li>

    {% endif %}

    {% if page.has_next %}

    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li>

    {% endif %}

</ul>

{% endblock %}