{% extends "network/layout.html" %}

{% block body %}

    <h1 style="text-align: center;">{{ username }}</h1>

    <p id="followers-count" style="text-align: center;">Followers: {{ followers }}</p>

    <p id="following-count" style="text-align: center;">Following: {{ following }}</p>

    {% if user != username %}

        {% if follows %}

            <div style="display: flex; justify-content: center; align-items: center;">

                <button id="unfollow" data-username="{{ username }}" style="text-align: center;" class="btn btn-secondary">Unfollow</button>
            
            </div>

        {% else %}

            <div style="display: flex; justify-content: center; align-items: center;">
                
                <button id="follow" data-username="{{ username }}" class="btn btn-primary">Follow</button>
            
            </div>
        
        {% endif %}

    {% endif %}

<div class="posts">

    {% for post in page %}

        <div class="post">

            <strong><a class="username" href="{% url 'profile' username=post.creator.username %}">{{ post.creator.username }}</a></strong>
            
            {% if user == post.creator %}

                <div id="text-editor-{{ post.id }}">
                    <p><a href="#" class="edit text-primary" data-post-id="{{ post.id }}">Edit</a></p>
                </div>

            {% endif %}

            <p id="content-{{ post.id }}">{{ post.content }}</p>
        
            <p id="timestamp">{{ post.timestamp|date:"M d, Y H:i" }}</p>

            <button data-post-id="{{ post.id }}" class="{% if post in liked %}filled heart{% else %}heart{% endif %}">{% if post in liked %}&#9829;{% else %}&#9825;{% endif %}</button><span id="likes-{{ post.id }}">{{ post.likes.count }}</span>
        
        </div>

    {% empty %}
        
        <p>No posts yet.</p>
    
    {% endfor %}

</div>

<ul class="pagination">

    {% if page.has_previous %}

    <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a></li>

    {% endif %}

    {% if page.has_next %}

    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li>

    {% endif %}

</ul>

{% endblock %}