.post_content {
    width: 100%;
    box-sizing: border-box;
}

.posts {
    width: 100%;
}

.post {
    border: 1px solid grey;
    padding: 12px;
    margin: 12px;
    padding-top: 12px;
    position: relative;
    z-index: 1;
}

.new_post {
    margin: 12px;
    border: 1px solid grey;
    padding: 12px;
}

.username {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding-bottom: 12px;
}

p {
  margin: 0;
}

.filled {
    color: red;
    background-color: red;
}

.heart {
    border: none;
    outline: none;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}

#timestamp {
    color: grey;
}